.action_span_container {
  display: inline-flex;
  min-width: 100px;
  max-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 100px;
  border: 2px solid #ffffff;
  overflow: hidden;
  padding: 4px 12px;
  white-space: nowrap;
}

.action_span_container > p {
  color: var(--text-color-white);
  font-weight: var(--font-weight-700);
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .action_span_container {
    width: 116px;
  }
}
