.flex_container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 1em;
  position: relative;
}

@media screen and (max-width: 950px) {
  .flex_container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
}
