.content_wrapper {
  padding: 2em 0 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.section_full {
  width: 90%;
}

.content_items {
  width: calc(90vw - var(--nav-width));
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

@media screen and (max-width: 950px) {
  .content_items {
    width: calc(100vw - var(--nav-width));
    gap: 1em;
  }
}
