.content_wrapper {
  padding: 2em 0 1em 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.content_wrapper > div {
  width: 90%;
  /* height: auto; */
}

.content_items {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 424px) {
  .content_items {
    width: 90% !important;
    flex-wrap: wrap;
  }
}
