* {
  margin: 0;
  padding: 0;
  --bg-color-light-dark: #1e1e1e;
  --bg-color-dark: #171717;
  --card-min-width: 184px;
  --card-min-height: 276px;
}

.main {
  min-height: 100vh;
  background-color: var(--bg-color-light-dark);
}
