* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --nav-width: 15vw;

  /*
    Colors.
  */
  --bg-color-light-dark: #1e1e1e;
  --bg-color-dark-transparent: rgba(23, 23, 23, 0.63);
  --bg-color-dark: #171717;
  --bg-color-white: #ffffff;

  --bg-color-dark-gradient: linear-gradient(
    90.8deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 98.77%
  );

  --bg-color-dark-gradient-full: rgba(0, 0, 0, 0.8);
  /*Cards*/

  --card-big-max-height: 300px;
  --card-big-max-width: 680px;

  --card-small-max-height: 382.74px;
  --card-small-max-width: 250px;
  --card-small-min-width: 120px;

  --card-small-min-height: 270px;

  /*
  Text.  
  */
  --font-family: "Inter";
  --font-weight-500: 500;

  --font-weight-600: 600;
  --font-weight-700: 700;

  --text-color-white: #ffffff;
  --text-color-dark: #1a1a1a;
  --color-gray: #838383;

  --font-size-xsmall: 16px;
  --font-size-small: 17px;
  --font-size-big: 20px;
  --text-line-height: 29px;

  --border-radius-small: 100px;

  /*
  misc
  */

  --box-shadow-right: 1px 0px 0px #686868;

  --length-300: 385px;
  font-family: var(--font-family);
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.wrap {
  flex-wrap: wrap;
}

.container_full {
  height: 100%;
  flex-grow: 1;
}

.text_big {
  font-size: var(--font-size-big);
  font-family: var(--font-family);
  font-weight: var(--font-weight-600);
  font-style: normal;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--text-color-white);
}

.default_color {
  color: var(--text-color-white);
}

.gray_color {
  color: var(--color-gray);
}
span {
  color: var(--text-color-white);
}

::-webkit-scrollbar {
  display: none;
}
