.action_span_container {
  min-width: 150px;
  max-width: 150px;
  height: 40px;
  cursor: pointer;
  border-radius: 100px;
  border: 2px solid #ffffff;
  overflow: hidden;
}

.action_span_container > p {
  color: var(--text-color-white);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-xsmall);
  text-align: center;
}

@media screen and (max-width: 950px) {
  .action_span_container {
    width: 116px;
  }
}
